<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>帳務系統登入</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    
</head>

<body>  
    <section class="section"  >
        <div class="container">
            <div class="column is-6 is-offset-3">
                <form class="box" action="/" method="POST">
                  <figure class="image">
                    <img src="../static/banner.jpg">
                  </figure>
                    <br>
                    <h1 class="title">帳務系統登入</h1>
                    <h1 class="subtitle">訪客請使用訪客帳號登入</h1>
                    <div class="field">
                      <label class="label">帳號</label>
                      <div class="control">
                        <input class="input" placeholder="guest" name="account">
                      </div>
                    </div>
                  
                    <div class="field">
                      <label class="label">密碼</label>
                      <div class="control">
                        <input class="input" placeholder="1234" name="password">
                      </div>
                    </div>
                    <p class="has-text-danger">{{ msg }}</p>
                    <button class="button is-primary">登入</button>
                    
                  </form>
            </div>
        </div>
    </section>
</body>
</html>